In [1]:
import pandas as pd
import re
import os
import matplotlib.pyplot as plt
import pathlib
from tqdm.notebook import tqdm
import logging
from Cleaner import Cleaner

In [2]:
df = pd.read_csv('../data/olx-data.csv', low_memory=True)

/tmp/ipykernel_22402/1531169026.py:1: DtypeWarning: Columns (0,1,4,6,7,8,10,11,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/olx-data.csv', low_memory=True)

In [3]:
cleaner = Cleaner()

Cleaner initialized

In [4]:
df = cleaner.extract_furnished_from_description(df)

Extracting furnished column from description column
Before : we have 71927 furnished properties
After : we have 85814 furnished properties

In [8]:
df['compound']

0                       NaN
1                       NaN
2                       NaN
3             2020 Compound
4                       NaN
                ...
566522      IL Monte Galala
566523           Laguna bay
566524      IL Monte Galala
566525    Telal North Coast
566526                  NaN
Name: compound, Length: 566527, dtype: object